@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

$navColor: #B5D9CD;
$subNavColor: #818094;
$linksColor: #151716;
$cards: #b5d1c8;
$mainColor: #ffffff;
$secColor: rgba(238, 255, 250, 0.87);
$thirdColor: #803f00;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $linksColor;
  font-family: Goldman, cursive, sans-serif;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

header {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: $navColor;
    padding: 1.3rem;
    z-index: 1000;
    margin-bottom: 2rem;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        position: relative;
        text-align: center;

        .fa-solid {
          font-size: 2rem;
          display: none;

          @media screen and (max-width: 768px) {
            display: flex;
            font-size: 3rem;
          }
        }

        a {
          display: block;
          padding: 12px 10px;
          color: $linksColor;
          text-decoration: none;
          font-size: 2.5rem;
          transition-property: font-size;
          transition-duration: 500ms;
          transition-delay: 40ms;

          @media screen and (max-width: 968px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 768px) {
            display: none;
          }

          &:hover {
            font-size: 3rem;
          }

          &#title {
            font-size: 4rem;
            color: #ffffff;
            transition-property: font-size;
            transition-duration: 500ms;
            transition-delay: 40ms;
            font-family: 'Wallpoet', cursive;

            @media screen and (max-width: 768px) {
              display: flex;
            }
          }
        }
      }
    }
  }

  .burger-menu {
    .burger-body {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      background: $cards;
      padding: 1.3rem;
      z-index: 1000;
      margin: 9rem 0 2rem 0;

      .fa-solid {
        font-size: 3rem;
        display: flex;
        flex-direction: row-reverse;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        li {
          position: relative;
          text-align: center;

          .fa-solid {
            font-size: 2rem;
            display: none;
          }

          a {
            display: block;
            padding: 12px 10px;
            color: $linksColor;
            text-decoration: none;
            font-size: 2.5rem;
            transition-property: font-size;
            transition-duration: 500ms;
            transition-delay: 40ms;

            &:hover {
              font-size: 3rem;
            }

            &#title {
              font-size: 4rem;
              color: #ffffff;
              transition-property: font-size;
              transition-duration: 500ms;
              transition-delay: 40ms;
              font-family: 'Wallpoet', cursive;
            }
          }
        }
      }
    }
  }
}

#container {
  width: 99vw;
  height: 150vh;
  background: $mainColor;

  section {
    &.home {
      display: flex;
      height: 58%;
      width: 100%;
      margin-top: 4rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 2rem;

        @media screen and (max-width: 768px) {
          width: 100%;
          padding: 3rem;
          margin-top: 2rem;
        }

        h1 {
          font-size: 5rem;
          margin-bottom: 2rem;

          @media screen and (max-width: 768px) {
            font-size: 4rem;
          }

          @media screen and (max-width: 568px) {
            font-size: 3rem;
          }
        }

        p {
          font-size: 3rem;

          @media screen and (max-width: 768px) {
            font-size: 1.8rem;
          }
        }

        &.home-img {
          background: $cards;

          @media screen and (max-width: 768px) {
            height: 65%;
          }
        }
      }
    }


  }
}

.info-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  background: $secColor;
  padding: 5rem;

  @media screen and (max-width: 568px) {
    padding: 5rem 0 1rem 0;
  }

  .info-home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 80%;

    .top-selling {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
      padding: 3rem 0 3rem 0;
      margin-bottom: 3rem;

      h1 {
        text-align: center;
        font-size: 4.2rem;

        @media screen and (max-width: 568px) {
          font-size: 3rem;
        }
      }
    }

    .flex-cards {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      @media screen and (max-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
      }

      .info-cards {
        display: flex;
        padding: 0 8rem 0 8rem;
        flex-direction: column;
        width: 50%;
        height: 45%;

        @media screen and (max-width: 768px) {
          width: 100%;
          padding: 2rem;
        }

        hr {
          margin: 1rem 0 1rem 0;
          border: 1px solid $linksColor;
        }

        h2 {
          font-size: 3rem;

          @media screen and (max-width: 568px) {
            font-size: 2rem;
          }
        }

        p {
          font-size: 2rem;

          @media screen and (max-width: 568px) {
            font-size: 1.5rem;
          }
        }

      }
    }
  }
}

.comment {

  margin-top: 13rem;
  width: 100%;
  height: 90rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .home-contact {
    height: 65%;
    width: 70%;
    background: $secColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    margin-top: 2rem;

    .home-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    h1 {
      font-size: 4rem;
      padding-bottom: 2rem;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 568px) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 2rem;
      padding-bottom: 2rem;

      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 568px) {
        font-size: 1.2rem;
      }
    }

    button {
      width: 25%;
      height: 25%;
      background: $mainColor;
      border: 3px solid $linksColor;
      border-radius: 5px;
      font-size: 2.2rem;
      font-weight: bolder;
      cursor: pointer;
      margin: 4rem 0 1rem 0;
      padding: 1rem;

      @media screen and (max-width: 768px) {
        font-size: 1.7rem;
        width: 45%;
      }

      @media screen and (max-width: 568px) {
        width: 40%;
        font-size: 1.2rem;
      }

      &:hover {
        transform: scale(1.04);
      }

    }
  }

  .article_container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    color: $linksColor;
    font-size: 1rem;


    .article_item {
      display: flex;
      width: 45%;
      background: $secColor;

      .info_article {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        padding: 2rem;
        margin: 2rem;

        h1 {
          font-size: 3rem;
        }

        hr {
          width: 90%;
          margin: 2rem 0 2rem 0;
        }

        p {
          margin-bottom: 2rem;
        }

        .italic {
          font-style: italic;
        }
      }
    }
  }
}


.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .info-log {
    color: $linksColor;
    font-size: 2rem;
    width: 28%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem 4rem 3rem;
    border-radius: 7px;

    h1 {
      font-size: 3rem;
    }

    hr {
      width: 90%;
      margin: 2rem 0 2rem 0;
      opacity: 40%;
    }
  }

  .register-box {
    width: 24%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    .form-register {
      padding: 5rem 0 5rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2.5rem;
      gap: 1rem;

      hr {
        width: 100%;
        margin: 2rem 0 2rem 0;
      }

      .send-register {
        padding: 1rem;
        color: $linksColor;
        font-size: 2rem;
        width: 60%;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }

  .login-box {
    width: 28%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;


    .form-login {
      padding: 4rem 0 4rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2.5rem;
      gap: 1rem;

      hr {
        width: 80%;
        margin: 2rem 0 2rem 0;
        opacity: 40%;
      }

      .send-login {
        padding: 1rem;
        color: $linksColor;
        font-size: 2rem;
        width: 40%;
        border-radius: 7px;
        cursor: pointer;
        margin-bottom: 4rem;
      }

      .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: $cards;
        background: $linksColor;
        font-size: 2rem;
        width: 40%;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}

.create-article {
  display: none;
  flex-direction: column;
  align-items: center;
  background: $cards;
  width: 50%;
  height: 90%;
  font-size: 3rem;
  padding: 4rem;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(black, .3);

  input {
    margin-top: 3rem;
    border: none;
    height: 50px;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(black, .2);
    border-radius: 7px;
    cursor: pointer;

    .title {
      width: 250px;
      cursor: text;
    }

  }

  hr {
    width: 80%;
    opacity: 40%;
    margin: 2rem 0 2rem 0;
  }

  textarea {
    resize: none;
    display: block;
    overflow: hidden;
    width: 350px;
    font-size: 2rem;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
    padding: 3px;

  }

  #close-btn {
    width: 40%;
    height: 13%;
    background: $mainColor;
    border: 3px solid $linksColor;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    cursor: pointer;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  background: $mainColor;
  font-size: 2rem;
  margin-top: 10rem;

  .top-articles {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 4rem;
    width: 100%;
    margin-bottom: 5rem;
    background: $cards;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(black, .3);

    hr {
      width: 90%;
      margin: 2rem 0 4rem 0;
    }

    div {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: 568px) {
        width: 100%;
        flex-direction: column;
      }

      .small-card {
        width: 25vw;
        height: 45vh;
        background: #f7ffee;
        border-radius: 7px;
        margin-bottom: 2rem;

        @media screen and (max-width: 568px) {
          width: 100%;
          height: 40vh;
        }
      }

      h1 {
        text-align: center;
        padding: 1rem;
        font-size: 3rem;
      }
    }

  }

  .article-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 4rem;
    width: 100%;
    margin-bottom: 5rem;
    background: $secColor;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(black, .3);

    h1 {
      font-size: 3rem;
    }

    hr {
      width: 90%;
      opacity: 40%;
      margin: 2rem 0 1rem 0;
    }

    .italic {
      font-style: italic;
    }

    .modify {
      color: darkseagreen;
    }

    .delete {
      color: indianred;
    }

    .smallcaps {
      margin: 2rem 0 2rem 0;
      font-size: 1.8rem;
    }

    .add {
      color: $thirdColor;
      font-weight: bold;
    }
  }
}

.cart {
  #cart-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 4rem;
    width: 4rem;

    .fa-solid {
      font-size: 4rem;
      color: $linksColor;
    }
  }

  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 65px;
    right: 25px;
    height: 25px;
    width: 25px;
    background: #ff4d4d;
    border-radius: 100%;
    color: white;
    font-size: 1.5rem;
  }
}


.listeArticle {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 80%;
  background: $cards;
  font-size: 2rem;

  h1 {
    margin: 2rem;
  }

  hr {
    width: 90%;
    opacity: 40%;
    margin: 0 0 2rem 0;
  }

  textarea {
    resize: none;
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 650px;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
  }

  input {
    margin-left: 8rem;
  }
}

#list {
  font-size: 2rem;
  background: $cards;
  width: 70%;
  border-radius: 9px;
  padding: 3rem;

  .box-list {
    background: $secColor;
    border-radius: 9px 0 9px 0;
    padding: 3rem;

    thead {
      background: $cards;
      tr th {
        padding: 1rem;
      }
    }

    table {
      margin: 1rem;
      width: 100%;

      tbody tr td{
        text-align: center;
        padding: 1rem;
        background: $mainColor;
        border-radius: 4px 0 4px 0;
      }
    }
  }

  .footer-list {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 90%;

    a {
      padding: 1rem;
      background: $mainColor;
      border-radius: 7px;
    }
  }
}

footer {

  height: 5%;
  background: $mainColor;

  .last-footer {
    position: static;
    margin-top: 5rem;
    bottom: 0;
    height: 20%;
    background: $mainColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: $linksColor;

    @media screen and (max-width: 568px) {
      font-size: 0.6rem;
    }

    p i.fa-brands {
      cursor: pointer;
      padding: 0.5rem;
      font-size: 2rem;
      transition-property: font-size;
      transition-duration: 1s;
      transition-delay: 140ms;

      @media screen and (max-width: 568px) {
        font-size: 1rem;
      }

      &:hover {
        font-size: 3rem;
      }
    }
  }
}
