@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #161617;
  font-family: Goldman, cursive, sans-serif;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

section {
  display: flex;
  justify-content: center;
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #c7d7b9;
  padding: 1.3rem;
  z-index: 1000;
  margin-bottom: 2rem;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  position: relative;
  text-align: center;
}
header nav ul li a {
  display: block;
  padding: 12px 10px;
  color: #161617;
  text-decoration: none;
  font-size: 2.5rem;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
}
header nav ul li a:hover {
  font-size: 3rem;
}
header nav ul li a#title {
  font-size: 4rem;
  color: #ffffff;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
  font-family: "Wallpoet", cursive;
}

#container {
  width: 99vw;
  height: 150vh;
  background: #ffffff;
}
#container section.home {
  display: flex;
  height: 60%;
  width: 100%;
  margin-top: 9rem;
}
#container section.home div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#container section.home div h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
#container section.home div p {
  font-size: 3rem;
}
#container section.home div.home-img {
  background: #d9e1d5;
}

.info-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 99vw;
  font-size: 2rem;
  background: #F5F3F8;
}
.info-home .info-home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.info-home .info-home-cards .info-cards {
  display: flex;
  padding: 4rem 8rem 2rem 8rem;
  flex-direction: column;
  width: 50%;
  height: 50%;
}
.info-home .info-home-cards .info-cards hr {
  margin: 1rem 0 1rem 0;
  border: 1px solid #161617;
}
.info-home .info-home-cards .info-cards .fa-solid {
  font-size: 2rem;
  padding-bottom: 1rem;
  align-self: self-start;
  color: #161617;
}

.home-contact {
  height: 40%;
  width: 99vw;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 3rem 0;
}
.home-contact h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
.home-contact p {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.home-contact button {
  width: 15%;
  height: 12%;
  background: #ffffff;
  border: 3px solid #161617;
  border-radius: 5px;
  font-size: 2.4rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 4rem 0 1rem 0;
}

.article_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  color: #161617;
  font-size: 1rem;
  margin-top: 15rem;
}
.article_container .article_item {
  display: flex;
  width: 45%;
  background: #F5F3F8;
}
.article_container .article_item .info_article {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem;
}
.article_container .article_item .info_article h1 {
  font-size: 3rem;
}
.article_container .article_item .info_article hr {
  width: 90%;
  margin: 2rem 0 2rem 0;
}
.article_container .article_item .info_article p {
  margin-bottom: 2rem;
}
.article_container .article_item .info_article .italic {
  font-style: italic;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.login-container .info-log {
  color: #161617;
  font-size: 2rem;
  width: 28%;
  background: #d9e1d5;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 7px;
}
.login-container .info-log h1 {
  font-size: 3rem;
}
.login-container .info-log hr {
  width: 90%;
  margin: 2rem 0 2rem 0;
  opacity: 40%;
}
.login-container .register-box {
  width: 24%;
  background: #d9e1d5;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.login-container .register-box .form-register {
  padding: 5rem 0 5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 1rem;
}
.login-container .register-box .form-register hr {
  width: 100%;
  margin: 2rem 0 2rem 0;
}
.login-container .register-box .form-register .send-register {
  padding: 1rem;
  color: #161617;
  font-size: 2rem;
  width: 60%;
  border-radius: 7px;
  cursor: pointer;
}
.login-container .login-box {
  width: 28%;
  background: #d9e1d5;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.login-container .login-box .form-login {
  padding: 4rem 0 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 1rem;
}
.login-container .login-box .form-login hr {
  width: 80%;
  margin: 2rem 0 2rem 0;
  opacity: 40%;
}
.login-container .login-box .form-login .send-login {
  padding: 1rem;
  color: #161617;
  font-size: 2rem;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 4rem;
}
.login-container .login-box .form-login .btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #d9e1d5;
  background: #161617;
  font-size: 2rem;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
}

.create-article {
  margin: 3rem 0 10rem 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background: #d9e1d5;
  width: 50%;
  height: 90%;
  font-size: 3rem;
  padding: 4rem;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.create-article input {
  margin-top: 3rem;
  border: none;
  height: 50px;
  font-size: 2rem;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.create-article input .title {
  width: 25%;
}
.create-article hr {
  width: 80%;
  opacity: 40%;
  margin: 2rem 0 2rem 0;
}
.create-article textarea {
  resize: none;
  display: block;
  overflow: hidden;
  padding: 10px;
  width: 550px;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 0;
}
.create-article #close-btn {
  width: 10%;
  height: 8%;
  background: #ffffff;
  border: 3px solid #161617;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}

.article-container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  background: #ffffff;
  font-size: 2rem;
}
.article-container .article-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 4rem;
  width: 95%;
  margin-bottom: 5rem;
  background: #d9e1d5;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.article-container .article-content h1 {
  font-size: 3rem;
}
.article-container .article-content hr {
  width: 90%;
  opacity: 40%;
  margin: 2rem 0 1rem 0;
}
.article-container .article-content .italic {
  font-style: italic;
}
.article-container .article-content .modify {
  color: darkseagreen;
}
.article-container .article-content .delete {
  color: indianred;
}
.article-container .article-content .smallcaps {
  margin: 2rem 0 2rem 0;
  font-size: 1.8rem;
}

.listeArticle {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 80%;
  background: #d9e1d5;
  font-size: 2rem;
}
.listeArticle h1 {
  margin: 2rem;
}
.listeArticle hr {
  width: 90%;
  opacity: 40%;
  margin: 0 0 2rem 0;
}
.listeArticle textarea {
  resize: none;
  display: block;
  overflow: hidden;
  padding: 10px;
  width: 650px;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 0;
}
.listeArticle input {
  margin-left: 8rem;
}

footer {
  height: 20%;
  background: #ffffff;
}
footer .last-footer {
  margin-top: 20rem;
  position: static;
  bottom: 0;
  height: 20%;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: #161617;
}
footer .last-footer p i.fa-brands {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 140ms;
}
footer .last-footer p i.fa-brands:hover {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
