@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

$navColor: #c7d7b9;
$subNavColor: #818094;
$linksColor: #161617;
$cards: #d9e1d5;
$mainColor: #ffffff;
$secColor: #F5F3F8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: $linksColor;
  font-family: Goldman, cursive, sans-serif;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%
}

section {
  display: flex;
  justify-content: center;
}

header {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: $navColor;
    padding: 1.3rem;
    z-index: 1000;
    margin-bottom: 2rem;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      //padding-left: 15vw;
      //padding-right: 15vw;
      justify-content: space-around;

      li {
        position: relative;
        text-align: center;

        a {
          display: block;
          padding: 12px 10px;
          color: $linksColor;
          text-decoration: none;
          font-size: 2.5rem;
          transition-property: font-size;
          transition-duration: 500ms;
          transition-delay: 40ms;

          &:hover {
            font-size: 3rem;
          }

          &#title {
            font-size: 4rem;
            color: #ffffff;
            transition-property: font-size;
            transition-duration: 500ms;
            transition-delay: 40ms;
            font-family: 'Wallpoet', cursive;
          }
        }
      }
    }
  }
}


#container {
  width: 99vw;
  height: 150vh;
  background: $mainColor;

  section {
    &.home {
      display: flex;
      height: 60%;
      width: 100%;
      margin-top: 9rem;

      div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
          font-size: 5rem;
          margin-bottom: 2rem;
        }

        p {
          font-size: 3rem;
        }

        &.home-img {
          background: $cards;
        }
      }
    }


  }
}

.info-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 99vw;
  font-size: 2rem;
  background: $secColor;

  .info-home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 80%;

    .info-cards {
      display: flex;
      padding: 4rem 8rem 2rem 8rem;
      flex-direction: column;
      width: 50%;
      height: 50%;

      hr {
        margin: 1rem 0 1rem 0;
        border: 1px solid $linksColor;
      }

      .fa-solid {
        font-size: 2rem;
        padding-bottom: 1rem;
        align-self: self-start;
        color: $linksColor;
      }
    }
  }
}

.home-contact {
  height: 40%;
  width: 99vw;
  background: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 3rem 0;

  h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  button {
    width: 15%;
    height: 12%;
    background: $mainColor;
    border: 3px solid $linksColor;
    border-radius: 5px;
    font-size: 2.4rem;
    font-weight: bolder;
    cursor: pointer;
    margin: 4rem 0 1rem 0;
  }
}

.article_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  color: $linksColor;
  font-size: 1rem;
  margin-top: 15rem;

  .article_item {
    display: flex;
    width: 45%;
    background: $secColor;

    .info_article {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      padding: 2rem;
      margin: 2rem;

      h1 {
        font-size: 3rem;
      }

      hr {
        width: 90%;
        margin: 2rem 0 2rem 0;
      }

      p {
        margin-bottom: 2rem;
      }

      .italic {
        font-style: italic;
      }
    }
  }
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .info-log {
    color: $linksColor;
    font-size: 2rem;
    width: 28%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem 4rem 3rem;
    border-radius: 7px;

    h1 {
      font-size: 3rem;
    }

    hr {
      width: 90%;
      margin: 2rem 0 2rem 0;
      opacity: 40%;
    }
  }

  .register-box {
    width: 24%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

    .form-register {
      padding: 5rem 0 5rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2.5rem;
      gap: 1rem;

      hr {
        width: 100%;
        margin: 2rem 0 2rem 0;
      }

      .send-register {
        padding: 1rem;
        color: $linksColor;
        font-size: 2rem;
        width: 60%;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }

  .login-box {
    width: 28%;
    background: $cards;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;


    .form-login {
      padding: 4rem 0 4rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 2.5rem;
      gap: 1rem;

      hr {
        width: 80%;
        margin: 2rem 0 2rem 0;
        opacity: 40%;
      }

      .send-login {
        padding: 1rem;
        color: $linksColor;
        font-size: 2rem;
        width: 40%;
        border-radius: 7px;
        cursor: pointer;
        margin-bottom: 4rem;
      }

      .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: $cards;
        background: $linksColor;
        font-size: 2rem;
        width: 40%;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}

.create-article {
  margin: 3rem 0 10rem 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background: $cards;
  width: 50%;
  height: 90%;
  font-size: 3rem;
  padding: 4rem;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(black, .3);

  input {
    margin-top: 3rem;
    border: none;
    height: 50px;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(black, .2);
    border-radius: 7px;

    .title {
      width: 25%;
    }

  }

  hr {
    width: 80%;
    opacity: 40%;
    margin: 2rem 0 2rem 0;
  }

  textarea {
    resize: none;
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 550px;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
  }

  #close-btn {
    width: 10%;
    height: 8%;
    background: $mainColor;
    border: 3px solid $linksColor;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
  }
}

.article-container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  background: $mainColor;
  font-size: 2rem;
  .article-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 4rem;
    width: 95%;
    margin-bottom: 5rem;
    background: $cards;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(black, .3);

    h1 {
      font-size: 3rem;
    }
    hr {
      width: 90%;
      opacity: 40%;
      margin: 2rem 0 1rem 0;
    }
    .italic {
      font-style: italic;
    }

    .modify {
      color: darkseagreen;
    }

    .delete {
      color: indianred;
    }

    .smallcaps {
      margin: 2rem 0 2rem 0;
      font-size: 1.8rem;
    }
  }
}

.listeArticle {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 80%;
  background: $cards;
  font-size: 2rem;
  h1 {
    margin: 2rem;
  }
  hr {
    width: 90%;
    opacity: 40%;
    margin: 0 0 2rem 0;
  }
  textarea {
    resize: none;
    display: block;
    overflow: hidden;
    padding: 10px;
    width: 650px;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: 0;
  }
  input {
    margin-left: 8rem;
  }
}

footer {

  height: 20%;
  background: $mainColor;

  .last-footer {
    margin-top: 20rem;
    position: static;
    bottom: 0;
    height: 20%;
    background: $mainColor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: $linksColor;

    p i.fa-brands {
      cursor: pointer;
      padding: 0.5rem;
      font-size: 2rem;
      transition-property: font-size;
      transition-duration: 1s;
      transition-delay: 140ms;

      &:hover {
        font-size: 3rem;
      }
    }
  }
}