@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #151716;
  font-family: Goldman, cursive, sans-serif;
}

body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

header nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #B5D9CD;
  padding: 1.3rem;
  z-index: 1000;
  margin-bottom: 2rem;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  position: relative;
  text-align: center;
}
header nav ul li .fa-solid {
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 768px) {
  header nav ul li .fa-solid {
    display: flex;
    font-size: 3rem;
  }
}
header nav ul li a {
  display: block;
  padding: 12px 10px;
  color: #151716;
  text-decoration: none;
  font-size: 2.5rem;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
}
@media screen and (max-width: 968px) {
  header nav ul li a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  header nav ul li a {
    display: none;
  }
}
header nav ul li a:hover {
  font-size: 3rem;
}
header nav ul li a#title {
  font-size: 4rem;
  color: #ffffff;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
  font-family: "Wallpoet", cursive;
}
@media screen and (max-width: 768px) {
  header nav ul li a#title {
    display: flex;
  }
}
header .burger-menu .burger-body {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: #b5d1c8;
  padding: 1.3rem;
  z-index: 1000;
  margin: 9rem 0 2rem 0;
}
header .burger-menu .burger-body .fa-solid {
  font-size: 3rem;
  display: flex;
  flex-direction: row-reverse;
}
header .burger-menu .burger-body ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
header .burger-menu .burger-body ul li {
  position: relative;
  text-align: center;
}
header .burger-menu .burger-body ul li .fa-solid {
  font-size: 2rem;
  display: none;
}
header .burger-menu .burger-body ul li a {
  display: block;
  padding: 12px 10px;
  color: #151716;
  text-decoration: none;
  font-size: 2.5rem;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
}
header .burger-menu .burger-body ul li a:hover {
  font-size: 3rem;
}
header .burger-menu .burger-body ul li a#title {
  font-size: 4rem;
  color: #ffffff;
  transition-property: font-size;
  transition-duration: 500ms;
  transition-delay: 40ms;
  font-family: "Wallpoet", cursive;
}

#container {
  width: 99vw;
  height: 150vh;
  background: #ffffff;
}
#container section.home {
  display: flex;
  height: 58%;
  width: 100%;
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  #container section.home {
    flex-direction: column;
  }
}
#container section.home div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  #container section.home div {
    width: 100%;
    padding: 3rem;
    margin-top: 2rem;
  }
}
#container section.home div h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  #container section.home div h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 568px) {
  #container section.home div h1 {
    font-size: 3rem;
  }
}
#container section.home div p {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #container section.home div p {
    font-size: 1.8rem;
  }
}
#container section.home div.home-img {
  background: #b5d1c8;
}
@media screen and (max-width: 768px) {
  #container section.home div.home-img {
    height: 65%;
  }
}

.info-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  background: rgba(238, 255, 250, 0.87);
  padding: 5rem;
}
@media screen and (max-width: 568px) {
  .info-home {
    padding: 5rem 0 1rem 0;
  }
}
.info-home .info-home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
}
.info-home .info-home-cards .top-selling {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding: 3rem 0 3rem 0;
  margin-bottom: 3rem;
}
.info-home .info-home-cards .top-selling h1 {
  text-align: center;
  font-size: 4.2rem;
}
@media screen and (max-width: 568px) {
  .info-home .info-home-cards .top-selling h1 {
    font-size: 3rem;
  }
}
.info-home .info-home-cards .flex-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .info-home .info-home-cards .flex-cards {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }
}
.info-home .info-home-cards .flex-cards .info-cards {
  display: flex;
  padding: 0 8rem 0 8rem;
  flex-direction: column;
  width: 50%;
  height: 45%;
}
@media screen and (max-width: 768px) {
  .info-home .info-home-cards .flex-cards .info-cards {
    width: 100%;
    padding: 2rem;
  }
}
.info-home .info-home-cards .flex-cards .info-cards hr {
  margin: 1rem 0 1rem 0;
  border: 1px solid #151716;
}
.info-home .info-home-cards .flex-cards .info-cards h2 {
  font-size: 3rem;
}
@media screen and (max-width: 568px) {
  .info-home .info-home-cards .flex-cards .info-cards h2 {
    font-size: 2rem;
  }
}
.info-home .info-home-cards .flex-cards .info-cards p {
  font-size: 2rem;
}
@media screen and (max-width: 568px) {
  .info-home .info-home-cards .flex-cards .info-cards p {
    font-size: 1.5rem;
  }
}

.comment {
  margin-top: 5rem;
  width: 100%;
  height: 90rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comment .home-contact {
  height: 65%;
  width: 70%;
  background: rgba(238, 255, 250, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}
.comment .home-contact .home-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.comment .home-contact h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .comment .home-contact h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .comment .home-contact h1 {
    font-size: 2rem;
  }
}
.comment .home-contact p {
  font-size: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .comment .home-contact p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 568px) {
  .comment .home-contact p {
    font-size: 1.2rem;
  }
}
.comment .home-contact button {
  width: 25%;
  height: 25%;
  background: #ffffff;
  border: 3px solid #151716;
  border-radius: 5px;
  font-size: 2.2rem;
  font-weight: bolder;
  cursor: pointer;
  margin: 4rem 0 1rem 0;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .comment .home-contact button {
    font-size: 1.7rem;
    width: 45%;
  }
}
@media screen and (max-width: 568px) {
  .comment .home-contact button {
    width: 40%;
    font-size: 1.2rem;
  }
}
.comment .home-contact button:hover {
  transform: scale(1.04);
}
.comment .article_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  color: #151716;
  font-size: 1rem;
}
.comment .article_container .article_item {
  display: flex;
  width: 45%;
  background: rgba(238, 255, 250, 0.87);
}
.comment .article_container .article_item .info_article {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem;
}
.comment .article_container .article_item .info_article h1 {
  font-size: 3rem;
}
.comment .article_container .article_item .info_article hr {
  width: 90%;
  margin: 2rem 0 2rem 0;
}
.comment .article_container .article_item .info_article p {
  margin-bottom: 2rem;
}
.comment .article_container .article_item .info_article .italic {
  font-style: italic;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.login-container .info-log {
  color: #151716;
  font-size: 2rem;
  width: 28%;
  background: #b5d1c8;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3rem 4rem 3rem;
  border-radius: 7px;
}
.login-container .info-log h1 {
  font-size: 3rem;
}
.login-container .info-log hr {
  width: 90%;
  margin: 2rem 0 2rem 0;
  opacity: 40%;
}
.login-container .register-box {
  width: 24%;
  background: #b5d1c8;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.login-container .register-box .form-register {
  padding: 5rem 0 5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 1rem;
}
.login-container .register-box .form-register hr {
  width: 100%;
  margin: 2rem 0 2rem 0;
}
.login-container .register-box .form-register .send-register {
  padding: 1rem;
  color: #151716;
  font-size: 2rem;
  width: 60%;
  border-radius: 7px;
  cursor: pointer;
}
.login-container .login-box {
  width: 28%;
  background: #b5d1c8;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.login-container .login-box .form-login {
  padding: 4rem 0 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  gap: 1rem;
}
.login-container .login-box .form-login hr {
  width: 80%;
  margin: 2rem 0 2rem 0;
  opacity: 40%;
}
.login-container .login-box .form-login .send-login {
  padding: 1rem;
  color: #151716;
  font-size: 2rem;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 4rem;
}
.login-container .login-box .form-login .btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #b5d1c8;
  background: #151716;
  font-size: 2rem;
  width: 40%;
  border-radius: 7px;
  cursor: pointer;
}

.create-article {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #b5d1c8;
  width: 50%;
  height: 90%;
  font-size: 3rem;
  padding: 4rem;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.create-article input {
  margin-top: 3rem;
  border: none;
  height: 50px;
  font-size: 2rem;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  cursor: pointer;
}
.create-article input .title {
  width: 250px;
  cursor: text;
}
.create-article hr {
  width: 80%;
  opacity: 40%;
  margin: 2rem 0 2rem 0;
}
.create-article textarea {
  resize: none;
  display: block;
  overflow: hidden;
  width: 350px;
  font-size: 2rem;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 0;
  padding: 3px;
}
.create-article #close-btn {
  width: 40%;
  height: 13%;
  background: #ffffff;
  border: 3px solid #151716;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
  cursor: pointer;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  background: #ffffff;
  font-size: 2rem;
  margin-top: 10rem;
}
.article-container .top-articles {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 4rem;
  width: 100%;
  margin-bottom: 5rem;
  background: #b5d1c8;
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.article-container .top-articles hr {
  width: 90%;
  margin: 2rem 0 4rem 0;
}
.article-container .top-articles div {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 568px) {
  .article-container .top-articles div {
    width: 100%;
    flex-direction: column;
  }
}
.article-container .top-articles div .small-card {
  width: 25vw;
  height: 45vh;
  background: #f7ffee;
  border-radius: 7px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 568px) {
  .article-container .top-articles div .small-card {
    width: 100%;
    height: 40vh;
  }
}
.article-container .top-articles div h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}
.article-container .article-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 4rem;
  width: 100%;
  margin-bottom: 5rem;
  background: rgba(238, 255, 250, 0.87);
  border-radius: 7px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.article-container .article-content h1 {
  font-size: 3rem;
}
.article-container .article-content hr {
  width: 90%;
  opacity: 40%;
  margin: 2rem 0 1rem 0;
}
.article-container .article-content .italic {
  font-style: italic;
}
.article-container .article-content .modify {
  color: darkseagreen;
}
.article-container .article-content .delete {
  color: indianred;
}
.article-container .article-content .smallcaps {
  margin: 2rem 0 2rem 0;
  font-size: 1.8rem;
}
.article-container .article-content .add {
  color: #803f00;
  font-weight: bold;
}

.cart #cart-icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 4rem;
  width: 4rem;
}
.cart #cart-icon .fa-solid {
  font-size: 4rem;
  color: #151716;
}
.cart .count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 65px;
  right: 25px;
  height: 25px;
  width: 25px;
  background: #ff4d4d;
  border-radius: 100%;
  color: white;
  font-size: 1.5rem;
}

.listeArticle {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 80%;
  background: #b5d1c8;
  font-size: 2rem;
}
.listeArticle h1 {
  margin: 2rem;
}
.listeArticle hr {
  width: 90%;
  opacity: 40%;
  margin: 0 0 2rem 0;
}
.listeArticle textarea {
  resize: none;
  display: block;
  overflow: hidden;
  padding: 10px;
  width: 650px;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border: 0;
}
.listeArticle input {
  margin-left: 8rem;
}

footer {
  height: 5%;
  background: #ffffff;
}
footer .last-footer {
  position: static;
  margin-top: 5rem;
  bottom: 0;
  height: 20%;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: #151716;
}
@media screen and (max-width: 568px) {
  footer .last-footer {
    font-size: 0.6rem;
  }
}
footer .last-footer p i.fa-brands {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 140ms;
}
@media screen and (max-width: 568px) {
  footer .last-footer p i.fa-brands {
    font-size: 1rem;
  }
}
footer .last-footer p i.fa-brands:hover {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */

